.home-title {

    font-weight: bold;
    font-size: 2em;
}

.banners {
    font-size: 1.5em;
}

.card-header {
    text-align: left;
}

.next-events-adj {
    text-align: left;
}

.card-text-adj {
    text-align: center;
    font-size: 0.9em;
}

.card-position {
    padding-bottom: 3em;
    padding-top: 1em;
}

.btn {
    font-size: 0.6em;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    transform: translateY(-20%);
}

.subtitle {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.small-skip {
    margin-bottom: 0.7em;
}

@media (min-width: 1000px) {

    .btn {
        transform: translate(-50%, -20%);
    }

    .home-title {
        font-size: 5em;
    }

    .card {
        text-align: center;
    }
}


/*BTN*/
.btn-primary {
    color: #fff;
    background-color: #325c32;
    border-color: #757575;
}

.btn-primary:hover {
    color: #fff;
    background-color: #545454;
    border-color: #757575;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #325c32;
    border-color: #757575;
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #325c32;
    border-color: #757575;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #444444;
    border-color: #444444;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.5);
}