.home-title {

    font-weight: bold;
    font-size: 2em;
}

.banners {
    font-size: 1.5em;
}

.card-header {
    text-align: left;
}

.next-events-adj {
    text-align: left;
}

.card-text-adj {
    text-align: center;
    font-size: 0.9em;
}

.card-position {
    padding-bottom: 3em;
    padding-top: 1em;
}

.card {
    text-align: center;
}

.btn {
    font-size: 0.6em;
    position: absolute;
    min-width: 6em;
    bottom: 0;
    font-weight: bold;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

.subtitle {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.small-skip {
    margin-bottom: 0.7em;
}

@media (max-width: 776px) {
    .btn {
        width: 10em;
        font-size: 0.4em;
    }

    .mb-md-4 {
        margin-top: 1em;
    }

    .col-md-10 {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {

    .btn {
        -webkit-transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
        transform: translate(-50%, -20%);
    }

    .home-title {
        font-size: 5em;
    }
}


