.subtitle {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.small-skip {
    margin-bottom: 2em;
}

.adj-left {
    padding-left: 3em;
}

.adj-right {
    padding-right: 3em;
}

.card {
    margin-right: 1em;
    margin-left: 1em;
}

@media (max-width: 576px) {
    .subtitle {
        font-size: 2.5em;
    }

    h3 {
        font-size: 90%;
    }
}