.subtitle {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.small-skip {
    margin-bottom: 2em;
}

.adj-left {
    padding-left: 3em;
}

.adj-right {
    padding-right: 3em;
}