    /*Colors for the grid*/
    /*Navbar colors*/
    
    .bg-navbar {
        background-color: rgb(14, 61, 26)!important;
    }
    
    .landmark {
        color: white!important
    }
    
    #Support {
        background-color: rgb(235, 192, 0);
        color: black;
    }
    /* Carousel control icons colors (fill color in the url)*/
    
    .carousel-indicator-round {
        background-color: black!important;
        border-color: white!important;
    }
    
    .control-arrow {
        color: black!important;
        background-color: rgba(255, 255, 255, 1)!important;
    }
    
    .active {
        background-color: rgb(137, 183, 88) !important;
        border-color: rgb(137, 183, 88) !important;
        color: black!important
    }

    .title{
        color:white;
    }

    .jumbotron-background{
        background-color:black;
    }

    /* Tooltip colors */

    .btn-outline-success{
        color:rgb(14, 61, 26)!important;
        border-color: rgb(14, 61, 26)!important;
    }

    .btn-outline-success:hover {
        background-color:rgb(137, 183, 88) !important;
        color:black!important;
        border-color: rgb(137, 183, 88) !important;
    }
    .tooltip-base .tooltiptext {
        background-color: rgb(235, 192, 0)!important;
        color: black!important;
    }

    .tooltip-base .tooltiptext::after {
        border-color: rgb(235, 192, 0) transparent transparent transparent !important;
    }

    .color2 {
        background-color: rgb(14, 61, 26);
    }
    /*********************************************************************************************************/
    /*                                                Tab colors                                             */
    /*********************************************************************************************************/
    .nav-tabs{
        background-color: white;
    }
    .nav-item .active {
        background-color: #325c32;
    }
    .tab-content-line{
        background-color:#325c32;
        padding:0.1em;
    }
    div.active{
        background-color: #325c32!important;
        border-color:#325c32!important;
        color:white!important;
    }

    div.standard{
        color:#325c32;
    }

    .tab-body{
        background-color:white;
        color:black;
    }
