    /*Colors for the grid*/
    
    .color1 {
        background-color: rgb(111, 79, 153);
    }
    
    .color2 {
        background-color: rgb(59, 136, 82);
    }
    
    .color3 {
        background-color: rgb(51, 170, 190);
    }
    /*Navbar colors*/
    
    .bg-navbar {
        background-color: rgb(14, 61, 26)!important;
    }
    
    .landmark {
        color: white!important
    }
    
    #Support {
        background-color: rgb(235, 192, 0);
        color: black;
    }
    /* Carousel control icons colors (fill color in the url)*/
    
    .carousel-indicator-round {
        background-color: black!important;
        border-color: white!important;
    }
    
    .control-arrow {
        color: black!important;
        background-color: rgba(255, 255, 255, 1)!important;
    }
    
    .active {
        background-color: rgb(137, 183, 88) !important;
        border-color: rgb(137, 183, 88) !important;
        color: black!important
    }

    /* Tooltip colors */

    .tooltip-base .tooltiptext {
        background-color: rgb(235, 192, 0)!important;
        color: black!important;
    }

    .tooltip-base .tooltiptext::after {
        border-color: rgb(235, 192, 0) transparent transparent transparent !important;
    }