.titleParagraph {
    font-size: 1.5em !important;
    padding-top: 1em;
    padding-left: 1em;
}

.description, .list-of-links, .contacts {
    padding: 3em;
}

.title-contact, .content-contact {
    font-size: 1em !important;
}

.title-contact {
    font-weight: 500;
}
#tooltip {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}
